html { 
  background: url(https://bnetcmsus-a.akamaihd.net/cms/gallery/LO0AO02BH7931533575177140.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0; 
  height: 100%; 
  overflow: hidden
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  display: flex;
}