html { 
  background: url(https://bnetcmsus-a.akamaihd.net/cms/gallery/LO0AO02BH7931533575177140.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0; 
  height: 100%; 
  overflow: hidden;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.black-section {
  padding: 3%;
  margin-top: 8%;
  background-color: rgb(0,0,0, 0.8);
}

div {
  margin-top: 1%;
}

button {
  background-color: #0e86ca;
  border: solid 1px #00aeff;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: color .2s,background-color .2s,border-color .2s;
}

button:hover {
  background-color: #00aeff;
}

img {
  width: 25%;
}

p {
  font-weight: 700;
  margin-bottom: 1rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top,#ede0c9 20%,#8a7e66);
  background-size: 1.3em 1.3em;
  background-position: top;
  color: #ede0c9;
  line-height: 1.3em;
  text-shadow: none;
  position: relative;
  text-transform: uppercase;
}

.Link {
  text-align: -webkit-center;
  display: block;
}

.Button--ocho {
  font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  text-transform: uppercase;
  margin-bottom: -10px;
}

.Button-outer {
  width: 167px;
}

.Button-inner {
  line-height: 20px;
  padding: 35px 0 45px;
  background: url(./images/button.png) no-repeat;
  background-size: auto 300px;
  background-position: center 0;
  position: relative;
  max-width: 367px;
  white-space: nowrap;
}

.Button-inner:hover {
  background-position: center;
  line-height: 18px;
  margin-bottom: 2px;
}

.Button-inner:before {
  content: "";
  background: url(./images/button.png) no-repeat;
  background-size: auto 300px;
  width: 133px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 100%;
  background-position: right 0;
  margin-right: -36.25px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.Button-inner:after {
content: "";
background: url(./images/button.png) no-repeat;
background-size: auto 300px;
width: 133px;
height: 100px;
position: absolute;
top: 0;
left: 100%;
background-position: right 0;
margin-left: -36px;
}

.Button-inner:hover::before {
background-position: right;
}

.Button-inner:hover::after {
background-position: right;
}